@model TallerBecerraAguilera.Models.Proveedores

<h2>Editar Proveedor</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id"/>

    <div class="form-group">
        <label>Nombre</label>
        <input asp-for="Nombre" class="form-control"/>
    </div>

    <div class="form-group">
        <label>Contacto</label>
        <input asp-for="Contacto" class="form-control"/>
    </div>

    <div class="form-group">
        <label>Teléfono</label>
        <input asp-for="Telefono" class="form-control"/>
    </div>

    <div class="form-group">
        <label>Condiciones de compra</label>
        <textarea asp-for="CondicionesCompra" class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-warning">Guardar Cambios</button>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</form>
