@model TallerBecerraAguilera.Models.Usuarios

<h1>Cambiar Contraseña</h1>

<form method="post">
    <input type="hidden" asp-for="id" />

    <div class="mb-3">
        <label>Nueva Contraseña</label>
        <input type="password" name="nuevaClave" class="form-control" />
    </div>

    <button class="btn btn-primary">Actualizar</button>
</form>
